@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|PT+Sans');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ff9966, #ff5e62, #ff6680, #6680ff);
  background-size:
    400% 400%;
  animation-name: background-animation;
  animation-duration: 6s;
  animation-timing-function:
    ease;
  animation-iteration-count: infinite;
  padding: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

div {
  text-transform: uppercase;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  /*   font-family: 'Nanum Gothic', sans-serif */
}

.center, .signup__field, .signup__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.header {
  padding: 5px;
  text-align: center;
}

input[type=email] {
  width: 273px;
  margin: 5px;
}

input[type=password] {
  width: 307px;
  margin: 5px;
}

fieldset {
  margin: 30px;
}

input[type=text] {
  width: 300px;
  margin: 5px;
}

/*input[type=email] {}

.input-field {
  border-radius: 3px;
  width: 150px;
}

.label {
  margin: 10px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
